<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GreenKart test">
    <test verbose="2" preserve-order="true" name="C:/Users/SasithaDilshan/IdeaProjects/SeleniumAutomation">
        <classes>
            <class name="Tests.GreenKartTest">
                <methods>
                    <include name="verifyTotalPrice"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>